body{
    margin:0;
    padding:0;
    background:rgb(0, 238, 255);
}
.top{
    background-color:rgba(78, 164, 204, 0.815);
    text-align: center;
    border:2px double green;
}
.disc{
    letter-spacing: 3px;
    color:red;
    text-align:center;
    font-size:20px;
}
.category{
    color:red;
    font-size:20px;
    letter-spacing:3px;
    text-decoration:underline;
}
.Search #Searchbox{
    border:2px double red;
    width:350px;
    height: 20px;
    letter-spacing:4px;
    color:red;
    font-size:15px;

}
.image1{
    height:410px;
    width:1350px;
    border:2px solid red;
}
.image1 ul{
    color:red;
    background-color:rgb(0, 238, 255);
    font-size:20px;
    line-height:40px;
    letter-spacing:2px;
    display:block;
    position:relative;
    width:800px;
    top:-425px;
    left:500px;
    list-style-type: none;
}
